body {
  font-weight: normal;
}

main {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  color: black;
  font-weight: normal;
}

h1 {
  font-size: 3.6rem;
}
